// theme.scss
$blue-1: #168AAD;
$blue-2: #1A759F;
$blue-3: #1E6091;
$green-1: #99D98C;
$green-2: #76C893;
$green-2-lighter: #c7f8d9;
$green-3: #52B69A;
$yellow-1: #D9ED92;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.container-main {
    padding: 4rem 15vw;
    display: flex;
    justify-content: space-between;
}


.container--flex {
    display: flex;
    padding: 0;
    flex-direction: column;
    @media screen and (min-width: 560px) {
        display: flex;
    padding: 1rem 0;
    flex-direction: row;

    }
}